*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   overflow: hidden;
   min-height: 100vh;
   background-color: #DDE6ED;
   font-family: "Poppins", sans-serif;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 5px;
   height: 60px;
   width: 100vw;
   margin: 0;
   padding: 0;
   background-color: #27374D;
   z-index: 999;
}

header a {
   margin-left: 20px;
   font-size: larger;
   color: hsla(206, 31%, 90%, 0.8);
   text-decoration: none;
}

header .active {
   color: hsla(206, 31%, 90%, 1);
}

header a:hover {
   color: hsla(206, 31%, 90%, 0.9);
}

.container {
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
   height: calc(100vh - 60px);
   width: 100vw;
   margin: 0;
   margin-top: 60px;
}

.title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 25%;
}

.title h1 {
   text-align: center;
   font-size: 45px;
}

.content {
   display: flex;
   flex-direction: row;
   height: auto;
}

.profile, .section {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: start;
   gap: 15px;
   height: 50vh;
   width: 100%;
}

.profile {
   margin-left: 25px;
}

.profile h1 {
   text-shadow: 0 0 20px #B80104;
}

.profile .mobile {
   display: none;
}

.profile p {
   font-size: 18px;
   margin-right: 50px;
}

.profile img {
   width: 30%;
   border-radius: 18px;
   margin-bottom: 15px;
}

.section {
   justify-content: center;
   margin-right: 25px;
}

.section div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.section p {
   text-align: center;
   font-size: 17px;
}

@media (max-width: 650px) {
   .content {
      flex-direction: column;
   }
   
   .content h1 {
      text-align: center;
   }
   
   .profile, .section {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      
      height: auto;
      margin: 0;
      padding: 0 20px;
      padding-bottom: 50px;
      margin-bottom: 50px;
   }
   
   .profile .normal {
      display: none;
   }

   .profile .mobile {
      display: block;
   }

   .profile img {
      width: 50%;
   }

   .profile p {
      margin: 0;
      text-align: center;
   }
}