*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   overflow: hidden;
   min-height: 100vh;
   background-color: #DDE6ED;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   width: 100vw;
   margin: 0;
   padding: 0;
   background-color: #27374D;
   font-family: "Poppins", sans-serif;
   z-index: 999;
}

header nav {
   gap: 5px;
}

header a {
   margin-left: 20px;
   font-size: larger;
   color: hsla(206, 31%, 90%, 0.8);
   text-decoration: none;
   transition: all 0.2s ease-in-out;
}

header button {
   margin-right: 20px;
   padding: 7.5px;
   color: white;
   background-color: #526D82;
   border-radius: 8px;
   border: 3px solid white;
   transition: all 0.2s ease-in-out;
}

header button:hover {
   border: 3px solid #526D82;
}

header .active {
   color: hsla(206, 31%, 90%, 1);
}

header a:hover {
   color: hsla(206, 31%, 90%, 0.9);
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   width: 100vw;
   height: calc(100vh - 60px);
   margin-top: 60px;
}

.gameContent {
	display: flex;
	flex-direction: row;
   justify-content: center;
	align-items: center;
   width: 100%;
   height: 100%;
}

.gameBoard {
	display: flex;
	flex-direction: column;
   justify-content: center;
	align-items: center;
   gap: 5px;
   width: 40%;
   height: auto;
   padding: 6px 0;
   border-radius: 12px;
   background-color: #27374D;
}

.row {
	display: flex;
	flex-direction: row;
   justify-content: center;
	align-items: center;
   gap: 5px;
   width: calc(100% - 10px);
} 

.cell {
	border: none;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
   color: hsla(206, 31%, 90%, 1);
   background-color: #9DB2BF;
   border-radius: 12px;
}

.cell:active {
	outline: none;
}
input:focus-visible {
   outline: none;
}
input:focus {
   outline: none;
}

.Player {
   width: 30%;
   height: 100%;
}

/* Modal */
.modal {
   position: fixed;
   left: 0;
   top: 0;
   display: none;
   justify-content: center;
   align-items: center;
   width: 100vw; 
   height: calc(100vh - 60px);
   padding: 0;
   margin: 0;
   margin-top: 60px;
   background-color: hsla(215, 33%, 23%, 0.7);
   z-index: 1;
}

.modal-Content {
   position: relative;
   overflow: hidden;
   display: flex;
	flex-direction: column;
   justify-content: start;
   gap: 10px;

   height: 50vh;
   width: 95vw;
   max-width: 500px;
   padding: 20px;
   border: 2px solid white;
   border-radius: 18px;
   background-color: #27374D;
   color: white;
}

.modal-Content h2 {
   margin-top: 6%;
}

.modal-Content .slider {
   position: relative;
   display: flex;
   height: 15%;
   width: 100%;
}

.sliderSquare {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
   color: white;
   background-color: #9db2bf00;
   border: 3px solid white;
   border-left: 0;
   font-size: 30px;
   user-select: none;
   transition: all 0.2s;
}

.sliderActive {
   background-color: #9DB2BF;
}

.sliderSquare:hover {
   color: black;
   background-color: white;
   cursor: pointer;
}

.sliderSquare:first-child {
   border: 3px solid white;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
}

.sliderSquare:last-child {
   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;
}

.modal-Content .close {
   position: absolute;
   top: 7.5px;
   right: 7.5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 25px;
   height: 25px;
   color: hsla(206, 31%, 90%, 1);
   font-size: 28px;
   font-weight: bold;
   text-decoration: none;
}

.modal-Content .close:hover,.modal-Content .close:focus {
   color: hsla(206, 31%, 90%, 0.8);
   cursor: pointer;
}